body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font_headers;
}

/* COPY */

p {
	margin-bottom: 1.5em;
	font-family: $font__main;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr,
acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark,
ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

// @font-face {
// 	font-family: "tpl";
// 	src: url("../../../../fonts/tpl/tpl.eot");
// 	src: url("../../../../fonts/tpl/tpl.eot") format("embedded-opentype"),
// 		url("../../../../fonts/tpl/tpl.ttf") format("truetype"),
// 		url("../../../../fonts/tpl/tpl.woff") format("woff"),
// 		url("../../../../fonts/tpl/tpl.svg") format("svg");
// 	font-weight: normal;
// 	font-style: normal;
// }

// [class^="sign-"],
// [class*=" sign-"] {
// 	font-family: "tpl" !important;
// 	speak: none;
// 	font-style: normal;
// 	font-weight: normal;
// 	font-variant: normal;
// 	text-transform: none;
// 	line-height: 1;

// 	/* Better Font Rendering =========== */
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

// [class^="sign-"],
// [class*=" sign-"] {
// 	/* use !important to prevent issues with browser extensions that change fonts */
// 	font-family: "tpl" !important;
// 	speak: none;
// 	font-style: normal;
// 	font-weight: normal;
// 	font-variant: normal;
// 	text-transform: none;
// 	line-height: 1;

// 	/* Better Font Rendering =========== */
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

// .sign-logo-venus:before {
// 	content: "\e900";
// }
// .sign-check1:before {
// 	content: "\e901";
// }
// .sign-left-arrow:before {
// 	content: "\e902";
// }
// .sign-right-arrow:before {
// 	content: "\e903";
// }
// .sign-long-right-arrow:before {
// 	content: "\e904";
// }
// .sign-facebook-f:before {
// 	content: "\e905";
// }
// .sign-facebook:before {
// 	content: "\e906";
// }
// .sign-youtube:before {
// 	content: "\e907";
// }
// .sign-google-plus:before {
// 	content: "\e908";
// }
// .sign-instagram:before {
// 	content: "\e909";
// }
// .sign-whatsapp:before {
// 	content: "\e90a";
// }
// .sign-menu:before {
// 	content: "\e90b";
// }
// .sign-placeholder:before {
// 	content: "\e90c";
// }
// .sign-pin:before {
// 	content: "\e90d";
// }
// .sign-calendar:before {
// 	content: "\e90e";
// }
// .sign-clock:before {
// 	content: "\e90f";
// }
// .sign-home:before {
// 	content: "\e910";
// }
// .sign-bubble:before {
// 	content: "\e911";
// }
// .sign-check2:before {
// 	content: "\e912";
// }
// .sign-search:before {
// 	content: "\e913";
// }
// .sign-beauty-01 .path1:before {
// 	content: "\e914";
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-01 .path2:before {
// 	content: "\e915";
// 	margin-left: -1em;
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-01 .path3:before {
// 	content: "\e916";
// 	margin-left: -1em;
// 	color: rgb(41, 71, 108);
// }

// .sign-beauty-02 .path1:before {
// 	content: "\e917";
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-02 .path2:before {
// 	content: "\e918";
// 	margin-left: -1em;
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-02 .path3:before {
// 	content: "\e919";
// 	margin-left: -1em;
// 	color: rgb(41, 71, 108);
// }

// .sign-beauty-03 .path1:before {
// 	content: "\e91a";
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-03 .path2:before {
// 	content: "\e91b";
// 	margin-left: -1em;
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-03 .path3:before {
// 	content: "\e91c";
// 	margin-left: -1em;
// 	color: rgb(41, 71, 108);
// }
// .sign-beauty-04 .path1:before {
// 	content: "\e91d";
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-04 .path2:before {
// 	content: "\e91e";
// 	margin-left: -1em;
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-04 .path3:before {
// 	content: "\e91f";
// 	margin-left: -1em;
// 	color: rgb(41, 71, 108);
// }
// .sign-beauty-05 .path1:before {
// 	content: "\e920";
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-05 .path2:before {
// 	content: "\e921";
// 	margin-left: -1em;
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-05 .path3:before {
// 	content: "\e922";
// 	margin-left: -1em;
// 	color: rgb(41, 71, 108);
// }
// .sign-beauty-06 .path1:before {
// 	content: "\e923";
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-06 .path2:before {
// 	content: "\e924";
// 	margin-left: -1em;
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-06 .path3:before {
// 	content: "\e925";
// 	margin-left: -1em;
// 	color: rgb(41, 71, 108);
// }
// .sign-beauty-07 .path1:before {
// 	content: "\e926";
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-07 .path2:before {
// 	content: "\e927";
// 	margin-left: -1em;
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-07 .path3:before {
// 	content: "\e928";
// 	margin-left: -1em;
// 	color: rgb(41, 71, 108);
// }
// .sign-beauty-08 .path1:before {
// 	content: "\e929";
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-08 .path2:before {
// 	content: "\e92a";
// 	margin-left: -1em;
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-08 .path3:before {
// 	content: "\e92b";
// 	margin-left: -1em;
// 	color: rgb(41, 71, 108);
// }
// .sign-beauty-09 .path1:before {
// 	content: "\e92c";
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-09 .path2:before {
// 	content: "\e92d";
// 	margin-left: -1em;
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-09 .path3:before {
// 	content: "\e92e";
// 	margin-left: -1em;
// 	color: rgb(41, 71, 108);
// }
// .sign-beauty-10 .path1:before {
// 	content: "\e92f";
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-10 .path2:before {
// 	content: "\e930";
// 	margin-left: -1em;
// 	color: rgb(176, 225, 240);
// }
// .sign-beauty-10 .path3:before {
// 	content: "\e931";
// 	margin-left: -1em;
// 	color: rgb(41, 71, 108);
// }
