/* COLORS */
$color__background-body: #ffffff;
$color__background-screen: #f5f5f5;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-dark-navy: #012241;
$color__background-main-theme: #099bde;
$color_red: #ff0000;

$color_white_text: #fff;

// $color_dark_blue: #205bab;

$color_dark_blue: #099bde;
$color_baby_blue: #6488b9;
$color-my-dark-navy: rgba(1, 34, 65, 0.84706);
$color_price_green: #77a464;
$color_my-light-grey: #f3f3f3;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text--light-grey: #999;
$color__text-input-focus: #111;
$color__link: #000; //royalblue
$color__link-visited: inherit; //purple
$color__link-hover: $color_dark_blue; //midnightblue
$color__text-main: #000;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/* TYPOGRAPHY */
$font__main: "Cabin", sans-serif;
$font_headers: "Cabin", sans-serif;

$font_anchors: "Cabin", sans-serif;
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

/* STRUCTURE */
$size__site-main: 100%;
$size__site-sidebar: 25%;

/* RWD */
$break__medium: 40.063em;
$break__large: 64.063em;

/* TRANSITIONS */
$regular_transition: all 0.3s ease-in-out;
