.main-carousel {
	height: 70vh;
	width: 100%;
	padding-top: 1rem;

	@media screen and (min-height: 736px) and (max-width: 992px) {
		height: 70vh;
	}

	@media screen and (min-width: 992px) {
		height: 60vh;
		height: calc(var(--vh, 1vh) * 60);
		margin-bottom: 0em;
	}

	.swiper-slide {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		&:before {
			background: $color_background-main-theme--dark-trans;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			content: "";
		}

		@media screen and (max-width: 992px) {
			background-position: center;
		}
	}

	.swiper-container {
		height: 100%;
		border-radius: 5px;
	}

	.swiper-scrollbar {
		display: none;
	}

	.swiper-button-prev,
	.swiper-button-next {
		color: rgba(255, 255, 255, 0.699) !important;
		padding: 1em;
		opacity: 0.7;

		&:after {
			font-size: 1.75rem;
			display: none;
		}

		@media screen and (max-width: 992px) {
			padding: 0;
			display: none;

			&:after {
				font-size: 1.25rem;
			}
		}
	}

	.swiper-button-prev {
		background: url(../dist/svg/previous.svg) no-repeat;
		background-size: contain;
		background-position: center;
		left: 2em;
	}

	.swiper-button-next {
		background: url(../dist/svg/next.svg) no-repeat;
		background-size: contain;
		background-position: center;
		right: 2em;
	}

	.swiper-pagination-bullet {
		background: rgba(255, 255, 255, 0.699) !important;
	}

	.parallax-title {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		color: white;
		padding: 0 2rem;

		h2 {
			text-align: center;

			@media screen and (max-width: 992px) {
				@include fluid-type($min_width, $max_width, 22px, 24px);
			}

			@media screen and (min-width: 992px) {
				margin: 0 auto 0;
				@include fluid-type($min_width, $max_width, 22px, 24px);
			}
		}

		p {
			position: relative;
			display: flex;
			flex-flow: column;
			font-weight: 400;
			text-align: center;
			margin: 0;

			@media screen and (max-width: 992px) {
				@include fluid-type($min_width, $max_width, 18px, 20px);
			}

			@media screen and (min-width: 992px) {
				@include fluid-type($min_width, $max_width, 18px, 20px);
			}
		}
		// p:after {
		// 	content: "";
		// 	background: white;
		// 	height: 1px;
		// 	width: 110%;
		// 	position: absolute;
		// 	left: 50%;
		// 	top: 120%;
		// 	transform: translate(-50%, -50%);

		// 	@media screen and (max-width: 992px) {
		// 		height: 2px;
		// 	}
		// }
	}
}

.brands-carousel {
	padding: 4em 0;
	width: 100%;

	@media screen and (max-width: 992px) {
		padding: 0;
	}

	h2 {
		text-align: center;
	}
	.swiper-container-brands {
		overflow: hidden;

		img {
			height: 8rem;
			object-fit: contain;
		}
	}
	.swiper-wrapper {
		transition-timing-function: linear;
	}

	.swiper-slide {
		margin: 0 1em;
	}
}

.categories-carousel {
	width: 100%;
	padding-bottom: 4rem;

	@media screen and (max-width: 992px) {
		padding-bottom: 7em;
		text-align: center;
	}

	@media screen and (min-width: 992px) {
		overflow: hidden;
	}

	.swiper-pagination-categories {
		margin: 1em 0 3em;
		position: static;
		padding-top: 0.25em;
		display: flex;
		justify-content: center;

		@media screen and (min-width: 992px) {
			justify-content: space-evenly;
			max-width: 80%;
			margin: 4rem auto;
		}

		@media screen and (max-width: 992px) {
			justify-content: space-around;
			padding: 1em 0;
		}
	}

	.swiper-pagination-bullet {
		// width: auto;
		background: transparent;
		// margin: 0.5em 2em !important;
		opacity: 1;
		@include fluid-type($min_width, $max_width, 16px, 18px);
		// height: 32px;
		// border-radius: 15px;
		// color: $color_dark_blue;
		padding: 0.25em 0.25em;
		position: relative;
		width: fit-content;
		height: 100%;
		display: block;
		text-align: center;
		border-radius: 0;
		// box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
		transition: all 0.2s ease-in-out;
		font-weight: 600;
		border-bottom: 2px solid transparent;

		// @media screen and (max-width: 992px) {
		// 	margin: 0 0.5em !important;
		// 	padding: 0.25em 1em;
		// 	// width: 100px;
		// 	width: 140px;
		// 	line-height: 2;
		// }
	}

	.swiper-pagination-bullet-active {
		// background: $color_dark_blue;
		// color: $color_white_text;
		border-bottom: 2px solid #474596;
		// box-shadow: inset 0 0px 0px rgb(0 0 0 / 8%),
		// 	0px 0px 15px rgb(102 175 233 / 69%);
	}

	ul.products {
		padding: 1em;
		@media screen and (max-width: 992px) {
			padding: 2em 1em 1em 1em;
		}
	}

	.txt-centered {
		padding: 4rem 0;

		@media screen and (min-width: 992px) {
			padding: 0 0 4rem;
		}
	}
}
