.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	z-index: 9;
}

.woocommerce-password-strength.short {
	background-color: #e35b5b;
	border-color: #e35b5b;
}

.woocommerce-password-strength.bad {
	background-color: #ff9517;
	border-color: #ff9517;
}

.woocommerce-password-strength.good {
	background-color: #56b4a2;
	border-color: #56b4a2;
}

.woocommerce-password-strength.strong {
	background-color: #4dcb62;
	border-color: #4dcb62;
}
