/* POSTS AND PAGES */

// .site-content {
// 	padding-bottom: 4rem;
// }

// .site-content {
// 	// height: 100%;
// 	// margin-bottom: 20em;
// 	// margin-top: 14em;
// 	z-index: 1;

// 	@media screen and (max-width: 992px) {
// 		padding: 0em 5% 1em 5%;
// 		// margin-top: 5em;
// 	}

// 	@media screen and (min-width: 992px) {
// 		padding: 0em 5% 0em 5%;
// 		display: flex;
// 	}

// 	@media screen and (min-width: 1200px) {
// 		padding: 0em 10% 0em 10%;
// 	}

// 	@media screen and (min-width: 1600px) {
// 		padding: 0em 15% 0em 15%;
// 	}
// }

// #content {
// 	min-height: 50vh;
// }

.site-header {
	margin: auto;
	background: white;

	@media screen and (max-width: 992px) {
		width: 100%;
	}

	@media screen and (min-width: 992px) {
		// padding: 0em 5% 0em 5%;
		width: 970px;
		padding-top: 2rem;
	}

	@media screen and (min-width: 1200px) {
		// padding: 0em 10% 0em 10%;
		width: 1170px;
	}
	// margin-bottom: 2em;
}

.promo-header {
	@media screen and (min-width: 992px) {
		padding-top: 0rem;
	}
}

.content-container,
.woocommerce-cart .entry-content,
.woocommerce-checkout .entry-content,
.woocommerce-account .entry-content,
.entry-header {
	// height: 100%;
	// margin-bottom: 20em;
	// margin-top: 14em;
	z-index: 1;
	margin: auto;
	background: white;

	@media screen and (max-width: 768px) {
		// padding: 0em 5% 1em 5%;
		width: 100%;
	}

	@media screen and (min-width: 768px) {
		width: 750px;
	}

	@media screen and (min-width: 992px) {
		// padding: 0em 5% 0em 5%;
		width: 970px;
	}

	@media screen and (min-width: 1200px) {
		// padding: 0em 10% 0em 10%;
		width: 1170px;
	}

	// @media screen and (min-width: 1600px) {
	// 	padding: 0em 15% 0em 15%;
	// }
}

.content-container {
	padding-left: 1rem;
	padding-right: 1rem;
}

// .entry-content {
// 	padding-bottom: 7rem;
// }

.woocommerce-checkout .entry-content {
	padding-left: 1rem;
	padding-right: 1rem;
}

aside {
	display: none;

	@media screen and (min-width: 992px) {
		display: block;
		width: 25%;
		padding-right: 2em;

		.menu-woomenu-container {
			#menu-woomenu {
				list-style: none;
				flex-flow: column;
				margin: 0;
				padding: 0;
			}
		}
	}
}

// .has-aside {
// 	&--main {
// 		width: 100%;

// 		@media screen and (min-width: 992px) {
// 			width: 75%;
// 		}
// 	}
// }

.content-area {
	width: 100%;
	// padding-bottom: 4rem;
}

.sticky {
	display: block;
}

// .post,
// .page {
// 	margin: 0 0 1.5em;
// }

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0 auto;

	// text-align: center;

	// @media screen and (min-width: 1300px) {
	// 	width: 60%;
	// }
}

body.single-post {
	.page-content,
	.entry-content,
	.entry-summary {
		width: 100% !important;
	}
}

.single-product {
	.woocommerce-Tabs-panel {
		text-align: left;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-wrapper {
	padding: 1em 5% 1em 5%;

	@media screen and (min-width: 992px) {
		padding: 1em 10% 1em 10%;
	}
}

/* ASIDES */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* COMMENTS */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

header.common-template {
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	// width: 100%;

	// background: rgba(1, 34, 65, 0.59);
	// background-image: url(../dist/img/entry-header.jpg); /* fallback */
	// background: linear-gradient(
	// 		to top,
	// 		rgba(1, 34, 65, 0.75),
	// 		rgba(1, 34, 65, 0.55)
	// 	),
	// 	url(../dist/img/entry-header.jpg);
	// background-size: cover;
	// background-position: center;
	// background-repeat: no-repeat;
	position: relative;

	@media screen and (max-width: 992px) {
		height: 7em;
	}

	h1.entry-title {
		padding: 1em;
	}
}

.entry-title {
	margin-top: 0;
}

header.wholesale-header {
	height: 5em;
}

.wholesale-login {
	.entry-content {
		margin-top: 4em;
	}
}

.page-template-contact-page {
	h2 {
		margin-bottom: 1em;
		text-align: center;
	}

	form {
		@media screen and (min-width: 992px) {
			width: 500px;
		}
	}
}

.contact-data {
	padding: 1em;

	h3 {
		margin-top: 0;
		text-align: center;
		@include fluid-type($min_width, $max_width, 18px, 22px);
	}

	p {
		margin: 0;
		padding-bottom: 0.25em;
		@include fluid-type($min_width, $max_width, 18px, 22px);
	}

	a {
		font-weight: 600;
		color: $color_dark_blue;
		@include fluid-type($min_width, $max_width, 18px, 22px);
	}
}

.single-post {
	.entry-header {
		text-align: center;
		// margin-bottom: 3em;
	}
}

.entry-header {
	// padding-top: 7rem;
	padding-top: 1rem;
	padding-bottom: 3rem;
}

.page-template-single-brand-page-template {
	.post-thumbnail {
		margin: 2em auto;
		text-align: center;
	}
}

.contact-form {
	padding: 2rem 0 7rem;

	h3 {
		margin-bottom: 0.5em;
	}

	form.wpcf7-form {
		p {
			margin-top: 2rem;
			margin-bottom: 0;
		}

		label {
			margin-bottom: 0.5em;
			display: block;
			text-align: center;
		}

		br {
			display: none;
		}

		.wpcf7-not-valid-tip {
			@include fluid-type($min_width, $max_width, 14px, 16px);
			// text-align: center;
		}

		.ajax-loader {
			margin: 1em auto 0;
			display: block;
		}

		input,
		textarea {
			width: 100%;
			border: 0;
			border-bottom: 2px solid $color__background-main-theme--dark;
			padding: 0.5em 1em;
			@include fluid-type($min_width, $max_width, 16px, 18px);
		}

		textarea {
			// border: 0;
			// border-bottom: 2px solid $color__background-main-theme--dark;
			// border-radius: 20px;
			padding: 1em;
		}

		.wpcf7-acceptance {
			display: block;
			margin-top: 4rem;

			input[type="checkbox"],
			input[type="radio"] {
				position: relative;
				cursor: pointer;
				padding: 0;
				margin-right: 10px;
				width: 29px;
				height: 26px;
			}

			input[type="checkbox"]:before,
			input[type="radio"]:before {
				content: "";
				margin-right: 10px;
				display: inline-block;
				margin-top: -2px;
				width: 30px;
				height: 30px;
				background: $color__background-body;
				border: 1px solid #ccc;
			}

			input[type="checkbox"]:checked:before,
			input[type="radio"]:checked:before {
				background: $color_dark_blue;
				border-color: $color__background-body;
			}
			input[type="checkbox"]:disabled,
			input[type="radio"]:disabled {
				color: $color_dark_blue;
				cursor: auto;
			}
			input[type="checkbox"]:disabled:before,
			input[type="radio"]:disabled:before {
				box-shadow: none;
				background: $color_dark_blue;
			}
			input[type="checkbox"]:checked:after,
			input[type="radio"]:checked:after {
				content: "";
				position: absolute;
				left: 10px;
				top: 12px;

				background: $color__background-body;
				width: 3px;
				height: 3px;
				box-shadow: 2px 0 0 $color__background-body,
					4px 0 0 $color__background-body, 4px -2px 0 $color__background-body,
					4px -4px 0 $color__background-body, 4px -6px 0 $color__background-body,
					4px -8px 0 $color__background-body;
				transform: rotate(45deg);
			}

			.wpcf7-list-item-label {
				@include fluid-type($min_width, $max_width, 16px, 18px);
			}
		}

		input:focus,
		textarea:focus {
			outline: none;
		}

		input[type="checkbox"] {
			width: 20px;
		}

		:nth-child(6) {
			// border: 1px solid red;
			label {
				display: flex;
				// flex-flow: row-reverse;
				justify-content: center;
				align-items: center;

				@media screen and (max-width: 992px) {
					flex-flow: column;

					.wpcf7-list-item {
						margin: 0;
					}
				}
			}

			.wpcf7-list-item {
				margin-left: 0;
				margin-right: 1em;
				cursor: pointer;
			}
		}

		.wpcf7-submit {
			// margin: 2em auto;
			padding: 1.25em 1.75em !important;
			@include fluid-type($min_width, $max_width, 14px, 18px);
		}
	}
}

.advantages-wrapper {
	background: #f1f1f144;
}

.advantages-content-container {
	display: flex;
	flex-flow: column;
	padding-top: 3rem;

	margin: auto;

	@media screen and (max-width: 768px) {
		// padding: 0em 5% 1em 5%;
		width: auto;
		width: 90%;
	}

	@media screen and (min-width: 768px) {
		width: 750px;
	}

	@media screen and (min-width: 992px) {
		// padding: 0em 5% 0em 5%;
		width: 970px;
	}

	@media screen and (min-width: 1200px) {
		// padding: 0em 10% 0em 10%;
		width: 1170px;
	}

	h3 {
		margin-top: 0;
		text-align: center;
		@include fluid-type($min_width, $max_width, 32px, 36px);
		margin-bottom: 3rem;
	}
}

.advantages-container,
.offer-container {
	width: 100%;
	display: flex;
	// justify-content: space-around;
	justify-content: space-between;
	// margin-bottom: 1em;
	// background: #f1f1f144 !important;

	.advantage-box {
		display: flex;
		flex-flow: column;
		// justify-content: center;
		align-items: center;

		@media screen and (max-width: 992px) {
			margin-bottom: 2em;
		}

		img {
			width: 40px;
			margin-bottom: 0.5rem;
			filter: invert(1);
		}

		p {
			text-align: center;
			margin: 0.25em auto;
			font-weight: 600;

			@include fluid-type($min_width, $max_width, 12px, 18px);
			@media screen and (max-width: 992px) {
				margin: 0.5em auto 0.25em;
				line-height: 1.25;
				@include fluid-type($min_width, $max_width, 20px, 22px);
			}
		}

		span {
			text-align: center;
			width: 100%;
			display: block;
			@media screen and (max-width: 992px) {
				@include fluid-type($min_width, $max_width, 14px, 18px);
			}
		}

		.offer-text {
			@include fluid-type($min_width, $max_width, 12px, 14px);
		}
	}
}

.offer-container {
	@media screen and (max-width: 992px) {
		flex-flow: column;
	}
}

.advantages-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-around;

	@media screen and (max-width: 992px) {
		flex-wrap: wrap;
	}
}

#map_wrapper {
	height: 600px;
}

.info_content {
	text-align: center;
	img {
		width: 50%;
	}
}

#map_canvas {
	width: 100%;
	height: 100%;
}

.advantages-container {
	@media screen and (max-width: 992px) {
		flex-flow: column;
		flex-wrap: wrap;
		align-items: center;
	}

	@media screen and (min-width: 992px) {
		height: auto;
		padding-bottom: 4rem;
	}
}

.home {
	.blog-posts-header h3 {
		@include fluid-type($min_width, $max_width, 24px, 30px);
	}

	.read-more {
		@include fluid-type($min_width, $max_width, 18px, 20px);
	}

	.promo-banner img {
		width: 100%;
		border-radius: 10px;
	}

	.blog-posts {
		width: 100%;
		transform: translateY(10rem);
		opacity: 0;

		.blog-posts-header {
			h3 {
				margin-bottom: 2em;
				margin-top: 0;
				// padding-top: 4rem;
			}
		}

		.txt-centered {
			padding: 5em 0;
		}
	}

	.advantage-box {
		@media screen and (max-width: 992px) {
			margin: 2em;
			// width: 35%;

			img {
				width: 55px;
			}
		}
	}
}

.page-template-about-page-template {
	.common-page-subheader:last-of-type {
		@include fluid-type($min_width, $max_width, 24px, 34px);
	}
}

h1.common-page-header {
	text-align: center;
	@include fluid-type($min_width, $max_width, 24px, 34px);
}

p.common-page-subheader {
	text-align: center;
	font-weight: 600;
	@include fluid-type($min_width, $max_width, 16px, 18px);
}

.brands-grid,
.categories-grid,
#menu-shop-category-grid,
#menu-woomenu-mobile-1 {
	display: grid;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	@media screen and (min-width: 992px) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.categories-grid,
#menu-shop-category-grid,
#menu-woomenu-mobile-1 {
	grid-row-gap: 2em;
	grid-column-gap: 2em;
	margin: 2em 0;
	padding-bottom: 2em;
	justify-content: center;
	list-style: none;
	padding-left: 0;
}

.brand-tile {
	height: 100px;
	width: auto;
	background: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 2em;
}

#menu-shop-category-grid > li,
#menu-woomenu-mobile-1 > li {
	border: 2px solid transparent;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;

	@media screen and (min-width: 992px) {
		height: 18em;
	}

	&:hover {
		border: 2px solid $color_dark_blue;
		border-radius: 10px;
		box-shadow: 0px 0px 15px 0px rgb(32 91 171 / 35%);
	}

	a {
		position: relative;
		padding: 1em;
		display: flex;
		flex-flow: column;
		justify-content: center;
		text-align: center;
		flex-flow: column-reverse;
		font-family: $font_headers;
		font-weight: 700;
		transition: all 0.3s ease-in-out;

		.menu-thumbnail-image {
			background: no-repeat;
			background-size: contain;
			background-position: center;
			// height: 100%;
			height: 11em;
			margin: 5px 5px 1em;
			z-index: 0;
		}
	}
}

.page-template-filler {
	#page {
		opacity: 1 !important;
	}
}

.filler-main {
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;

	.filler-logo {
		// background-image: url(../dist/img/venus-logo.PNG) !important;
		width: 20em;
		height: 5em;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: 4em;
	}

	.filler-text {
		text-align: center;
		@include fluid-type($min_width, $max_width, 24px, 28px);
	}
}

.page-template-termsandconditions {
	.site {
		background: $color__background-body;
	}

	#content {
		#main {
			margin: auto;
			// margin: 1rem 5% 1rem;
			padding-bottom: 6rem;

			@media screen and (min-width: 992px) {
				padding-top: 4rem;
				padding-bottom: 10rem;
				// margin: 0 15% 1em;
			}

			.entry-title {
				text-align: center;
				margin-bottom: 4rem;
			}

			a {
				text-decoration: underline;
			}

			ul,
			ol {
				margin: 1.5em 0 1.5em 0em;
				// padding-left: 0px;
			}

			ol {
				padding-left: 1em;
			}

			li {
				margin: 0 0 1em;
			}

			li > ol,
			li > ul {
				margin-left: 0em;
				// padding-left: 10px;
			}
		}
	}
}

.home-about {
	padding-bottom: 7rem;
}
