footer#colophon {
	// height: 45em;
	width: 100%;
	// margin: 2em auto;
	color: white;
	// margin-top: 5em;
	text-align: center;

	@media screen and (min-width: 992px) {
		text-align: left;
	}

	background: $color__background-main-theme;

	.page {
		height: 100%;
	}

	a,
	a:visited,
	a:hover {
		color: white;
	}

	.icons-info {
		font-size: 1px;
		color: transparent;

		a {
			color: transparent;
		}
	}

	.footer-top {
		position: relative;
		text-align: center;

		// margin: -50px 0 50px;
		height: 40%;

		@media screen and (min-width: 992px) {
			text-align: left;
			height: 50%;
		}

		// &:before {
		// 	content: url(../dist/img/venus-logo-fb-xs.png);
		// 	display: flex;
		// 	align-items: center;
		// 	justify-content: center;
		// 	width: 100vw;
		// 	height: 250px;
		// 	border-radius: 100%;
		// 	border-top-left-radius: 0;
		// 	border-top-right-radius: 0;
		// 	background-color: #fff;
		// 	position: absolute;
		// 	left: 50%;
		// 	transform: translate(-50%, 0);
		// }
	}

	.site-info {
		margin: auto;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		// background: $color__background-main-theme;

		// @media screen and (min-width: 992px) {
		// 	height: 50%;
		// 	width: 80%;
		// }
	}

	.site-footer__main {
		@media screen and (max-width: 992px) {
			padding-top: 3em;

			.col {
				margin-bottom: 4em;
			}
		}

		a:hover {
			color: inherit !important;
		}

		@media screen and (min-width: 992px) {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin: 2em auto;

			// .col {
			// 	margin-right: 2em;
			// }
		}
	}

	.payment-method {
		height: 3em;
		width: 6em;
		margin: 1em auto;
		background-repeat: no-repeat;
		background-size: contain;

		@media screen and (max-width: 992px) {
			background-position: center;
		}
	}

	.method-paypal {
		background-image: url(../dist/img/paypal-logo.png);

		@media screen and (max-width: 992px) {
			margin-top: 2em;
		}
	}

	.method-przelewy24 {
		background-image: url(../dist/img/przelewy24.jpg);
	}

	.method-zapobraniem {
		background-image: url(../dist/img/zapobraniem.png);
	}

	#menu-footer-menu {
		display: flex;

		list-style: none;
		width: 100%;
		justify-content: space-around;
		text-align: center;

		li {
			a {
				@include fluid-type($min_width, $max_width, 12px, 14px);
				text-decoration: none;
			}
		}
	}

	.footer-bottom {
		@include fluid-type($min_width, $max_width, 12px, 12px);
		text-align: center;
		position: relative;
		display: flex;
		width: 100%;
		align-self: flex-end;
		justify-content: center;
		padding: 2em;

		&:before {
			content: "";
			height: 1px;

			background-color: white;
			position: absolute;
			top: -0.5em;
			text-align: center;
			width: 90%;

			@media screen and (min-width: 992px) {
				width: 90%;
			}

			@media screen and (min-width: 1200px) {
				width: 80%;
			}

			@media screen and (min-width: 1600px) {
				width: 70%;
			}
		}
	}
}
