/*
 * Foundation 5 Grid
 */

.txt-centered {
	text-align: center;
}

.wrapper-flex-column {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.wrapper-flex-row {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.wrapper-flex-row-around {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
